<h1>All Genres</h1>

<% @genres.each do |genre| %>
  <ul>
    <li><%= link_to genre.name, genre_path(genre) %></li>
  </ul>
<% end %>

<% if current_admin? %>
  <h1>Make New Genre!</h1>

  <%= form_for [:admin, @genre] do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit "Create Genre" %>

  <% end %>
<% end %>
